<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188400051513-njj3dflhvfnpcosmsscm6d047dv8ilj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188400051513-njj3dflhvfnpcosmsscm6d047dv8ilj6</string>
	<key>API_KEY</key>
	<string>AIzaSyBV6_VcyKAYDR3yWydmRNy2P5zyh2UcYO8</string>
	<key>GCM_SENDER_ID</key>
	<string>188400051513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yupinhu.clear</string>
	<key>PROJECT_ID</key>
	<string>clear-c3040</string>
	<key>STORAGE_BUCKET</key>
	<string>clear-c3040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188400051513:ios:4a770bf10412bf42</string>
	<key>DATABASE_URL</key>
	<string>https://clear-c3040.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9309051447775957~9319650429</string>
</dict>
</plist>